@import './colors.scss';

.todo-container {
    display: flex;
    justify-content: space-between;
    background-color: $light-gray;
    padding: 10px;

    .todo-info {
        display: flex;
        flex-direction: column;

        h3 {
            color: $orange;
        }
    }

}